<section id="links" style="text-align: left;" data-state="joomlared">
	<h1>Links</h1>
	<p>
		- <a href="https://yoothemepro_2.kicktemp.com/" target="_blank">yoothemepro_2.kicktemp.com</a> <br>
		- <a href="https://yootheme.com/blog/2020/03/10/yootheme-pro-2.0-dynamic-content-and-template-builder" target="_blank">YOOtheme Pro 2.0 Blog Post</a> <br>
		- <a href="https://youtu.be/U1aomq1VLI0" target="_blank">YOOtheme Pro 2.0 Video</a> <br>
		- <a href="https://yootheme.com/support/yootheme-pro/joomla/dynamic-content" target="_blank">Dynamic Content</a> <br>
		- <a href="https://yootheme.com/support/yootheme-pro/joomla/templates" target="_blank">Templates</a> <br>
		- <a href="https://discordapp.com/invite/qS9wWRC" target="_blank">Discord Chat Server</a> <br>
		- <a href="https://yootheme.com/support/yootheme-pro/changelog" target="_blank">Changelog</a> <br>
	</p>
</section>
