<section>
    <h1 class="noupper">Dynamic Content</h1>
    <img src="{{ site.baseurl }}/images/yootheme-pro-2.0-dynamic-content-7619596c.png" height="450">
</section>
<section>
    <h1 class="noupper">Custom Fields</h1>
    <img src="{{ site.baseurl }}/images/customfields.png" height="450">
</section>
<section>
    <h1 class="noupper">Custom Sources</h1>
    <img src="{{ site.baseurl }}/images/template.png" height="450">
</section>
<section>
    <h1 class="noupper">The Template Builder</h1>
    <img src="{{ site.baseurl }}/images/template.png" height="450">
</section>
<section>
    <h1 class="noupper">Child Theme</h1>
    <pre class=""><code class="hljs bash" data-trim data-fragment>
templates
├── yootheme
└── yootheme_jd20online
    └── builder
        ├── exitintent
        ├── faq
        ├── faq_item
        ├── headline
        ├── social
        ├── toc
        └── toc_item
</code></pre>
</section>

